#food-list {
  margin-top: 25px;
}


.card-img-top {
  width: 100%;  
}

#food-detail {
  margin: 20px 0 20px 0;

  .food-name {
    font-size: 3.5rem;
    font-weight: 300;
    padding-left: 100px;
  }
  #detail-image {
    width: 100%;
  }
}
